.slillsBlock {
    height: 100vh;
    background-color: #a5ff04;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: gray;
}

.skills {
    border: 1px solid;
    width: 100%;
}