.mainBlock {
    height: 100vh;
    background-color: #ff90c3;
}

.welcomeText {
    width: 400px;
    background-color: gray;
}

.photo {
    width: 400px;
    height: 400px;
    background-color: gray;
}

.welcomeButton {
    width: 400px;
    height: 400px;
}