.skill {
    width: 250px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: #e6fffa;
}