.projectsBlock {
    height: 100vh;
    background-color: #04eaff;
}

.projectsContainer {
    align-items: center;
    justify-content: space-between;
}

.title {
    background-color: gray;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}